<div class="row">
    <div class="col-md-6 col-xs-12 main-pane">
        <form [formGroup]="searchForm" class="white-pane ">
            <h3 class="text-center">Book your Doctor</h3>
            <div class="form-group ml-2 text-center">
                <mat-form-field appearance="fill">
                    <mat-label>Select Specialization</mat-label>
                    <mat-select formControlName="specialization" (selectionChange)="getDoctorsList($event)">
                      <mat-option *ngFor="let item of specializations" [value]="item">{{item.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <h4> Are you doctor? <a [routerLink]="'doctors/register'"> Register here</a></h4>
        </form>
    </div>
</div>